.CatalogContainer__article {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 75rem;
  margin: 0 auto;
  padding: 3.125rem 0 3.125rem 0;
  flex-wrap: wrap;
  gap: 2.5rem;
}
.CatalogContainer-img {
  object-fit: contain;
  width: 100%;
  border-radius: 1.25rem;
}
.CatalogContainer-Containerimg {
  max-width: 43.75rem;
  border-radius: 1.25rem;
}
.CatalogContainer-text {
  max-width: 25rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.CatalogContainer-text__h3 {
  text-align: center;
  font-size: 3.75rem;
  font-weight: 700;
  margin-bottom: .625rem;
}
#Catalogirl {
  color: #f1a2be;
  text-shadow: -0.0625rem -0.0625rem 0 white, .0625rem -0.0625rem 0 white, -0.0625rem .0625rem 0 white,
    .0625rem .0625rem 0 white, .125rem .125rem .1875rem rgba(241, 162, 190, 0.5);
}

#Catalogboy {
  color: #a5daff;
  text-shadow: -0.0625rem -0.0625rem 0 white, .0625rem -0.0625rem 0 white, -0.0625rem .0625rem 0 white,
    .0625rem .0625rem 0 white, .125rem .125rem .1875rem rgba(165, 218, 255, 0.5);
}

#Cataloghome {
  color: #5d4339;
  text-shadow: -0.0625rem -0.0625rem 0 white, .0625rem -0.0625rem 0 white, -0.0625rem .0625rem 0 white,
    .0625rem .0625rem 0 white, .125rem .125rem .1875rem rgba(68, 49, 41, 0.5);
}

#Catalogfotomural {
  color: #c29d66;
  text-shadow: -0.0625rem -0.0625rem 0 white, .0625rem -0.0625rem 0 white, -0.0625rem .0625rem 0 white,
    .0625rem .0625rem 0 white, .125rem .125rem .1875rem rgba(130, 101, 58, 0.5);
  font-size: 3.125rem;
}

.CatalogContainer-text__p {
  font-size: 1.25rem;
  text-align: center;
}
.CatalogContainer-text__button {
  background-color: #5d4339;
  border-radius: 1.875rem;
  border: none;
  color: white;
  font-size: 1.25rem;
  padding: .625rem 1.25rem;
  margin-top: 1.25rem;
  cursor: pointer;
  text-decoration: none;
}
.CatalogContainer {
  display: flex;
  gap: 1.875rem;
  flex-direction: column;
  background-color: rgba(241, 238, 232, 0.95);
}
@media (max-width: 48rem) {
  .CatalogContainer-text__h3 {
    font-size: 2.5rem;
  }
  .CatalogContainer-text{
    max-width: 18.75rem;
    text-align: center;
    
  } 
  .CatalogContainer-text__h3#Catalogfotomural{
    font-size: 2.5rem;
  }
  .CatalogContainer-text__p {
    font-size: 1rem;
  }
  .CatalogContainer-text__button {
    font-size: 1rem;
  }
  .CatalogContainer-Containerimg{
    max-width: 21.875rem;
  }
}