@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&display=swap");
.mainContainer {
  background-image: url(../assets/images/Fondo-Decohogar.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  text-align: center;
  position: relative; /* Añadimos posición relativa */
  z-index: 0; /* Aseguramos que esté por debajo del header */
}
.appContainer{
  height: 46rem;
}
.sectionContainer{
  height: 30rem;
}
.mainContainer::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: -1;
}

.mainContainer__h1 {
  font-family: "Dancing Script", cursive;
  font-size: 8em;
  line-height: 0.9; /* Reducir el line-height para juntar más los textos */
  color: white;
  font-weight: 700;
  margin-bottom: 10px; /* Reducir el margin-bottom para acercar más los spans */
  text-shadow: rgb(46, 30, 23) 2px 2px 5px;
}
.h1__alone{
  margin-top: 6.25rem;
  font-size: 6em;
}
.vinil {
  font-family: "Caveat", cursive;
}
.mainContainer__title {
  display: flex;
  flex-direction: column;
  margin-top: 6.875rem;
  position: relative; /* Aseguramos que el título esté por encima del fondo */
  z-index: 1;
}
.containerTitle{
    display: flex;
  flex-direction: column;
  position: relative; /* Aseguramos que el título esté por encima del fondo */
  z-index: 1;
}

@media (max-width: 768px) {
  .mainContainer__h1 {
    font-size: 5em;
  }
  
}