.vinilContainer{
    padding:1.25rem 0 ;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #827153;
}
.vinilCard{
    margin: .625rem;
    max-width: 25rem;
    background-color: #f1e5d7;
    border-radius: .625rem;
    box-shadow: 0 0 .625rem rgba(0, 0, 0, 0.2);
    padding: 1.25rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.imgVinil{
    border-radius: .625rem;
    height:18.75rem;
    width: 18.75rem;
    object-fit:cover;
}
.notFoundContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #827153;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.25rem;
    font-weight: 700;
}
